@use "./../../scss/mixins" as *;

.menu-curtain {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -25%;
	z-index: 2;
	width: 25%;
	padding-left: 50px;
	@include glass-effect;
	background: var(--bg-semi-tp-50);
	transition: transform 0.6s ease, background-color 0.3s;
	animation: revealNav 1s forwards;
}

@keyframes revealNav {
	to {
		left: calc(-25% + 50px);
	}
}

/* Works only on mouse devices */
.menu-curtain--visible {
	transform: translateX(calc(100% - 50px));
}

/* Works only on touch devices */
.menu-curtain--active {
	transform: translateX(calc(100% - 25px));
}

.menu-curtain__header {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	text-align: center;
}

.menu-curtain__header-logo {
	font-size: clamp(12px, 3vw, 18px);
	color: var(--txt-clr);
	transition: color 300ms;
	font-weight: 400;

	span {
		font-weight: 200;
	}
}

.nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.nav__link {
	display: flex;
	align-items: center;
	column-gap: 5px;
	background: var(--txt-clr);
	width: 0;
	@include bg-clr-txt-effect;
	transition: width 0.6s ease, background-color 0.3s;

	span {
		background: var(--semi-tp-50);
		@include bg-clr-txt-effect;
		transition: background-color 0.3s;
	}
}

.nav__link--active {
	width: 100%;
}

.nav__list-qty {
	font-size: 0.75rem;
	transform: translateY(-50%);
}

.nav__link-extra-font {
	font-family: "Silkscreen", sans-serif;
}

.menu-curtain__footer {
	position: absolute;
	bottom: 50px;
	left: 50px;
	right: 50px;
	display: flex;
	justify-content: space-evenly;

	a {
		font-size: 1.5rem;
		color: var(--txt-clr);
		transition: all 300ms;

		&:hover {
			color: var(--semi-tp-50);
		}
	}
}

// burger-btn

.burger-btn__container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 50px;
	@include flex-center;
	flex-direction: column;
}

.burger-btn__title {
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: clamp(0.8rem, 2vw, 1rem);
	color: var(--txt-clr);
	transition: color 0.3s;
}

.burger-btn {
	position: relative;
	width: 20px;
	padding: 10px 0;
}

.burger-btn::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--txt-clr);
	transform: translateY(-5px);
	transition: transform 0.3s 0.6s, background-color 0.3s;
}

.burger-btn::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--txt-clr);
	transform: translateY(5px);
	transition: transform 0.3s 0.6s, background-color 0.3s;
}

.burger-btn--active::before {
	transform: translateY(0) rotate(45deg);
}

.burger-btn--active::after {
	transform: translateY(0) rotate(-45deg);
}

@media (max-width: 1000px) {
	.burger-btn__container {
		width: 25px;
	}
}

@media (max-width: 1000px) {
	.menu-curtain {
		width: 50%;
		left: -50%;
		padding-left: 25px;
	}

	@keyframes revealNav {
		to {
			left: calc(-50% + 25px);
		}
	}

	.menu-curtain--visible {
		transform: translateX(calc(100% - 25px));
	}

	.menu-curtain__header {
		top: 25px;
		left: 25px;
		right: 25px;
	}

	.menu-curtain__footer {
		bottom: 25px;
		left: 25px;
		right: 25px;
	}
}
