@use "./../../mixins" as *;

.project {
	position: relative;
	height: 110px;
	@include flex-between;
	flex-shrink: 0;
	padding: 10px;
	border: 1px solid var(--semi-tp-10);
	border-radius: 10px;
	opacity: 0;
	transform: translateY(25px);
}

@keyframes revealProject {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.project__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.project__number {
	color: var(--txt-clr);
	align-self: flex-end;
	transition: color 0.3s;
}

.right-side {
	@include flex-center;
	column-gap: 25px;
}

.project__title {
	font-size: clamp(1rem, 2vw, 2rem);
	color: var(--txt-clr);
	transition: color 0.3s;
}

.project__img {
	height: 90px;
}

@media (max-width: 800px) {
	.project {
		min-height: 80%;
		flex-direction: column-reverse;
		flex-shrink: 0;
	}

	.project__number {
		align-self: flex-start;
	}

	.right-side {
		width: 100%;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column-reverse;
		gap: 25px;
		height: 100%;
	}

	.project__img {
		height: auto;
		width: 100%;
	}
}
