@use "./../../scss/mixins" as *;

.project {
	position: relative;
	@include flex-between-center;
	height: 120px;
	flex-shrink: 0;
	padding: 10px;
	border: 1px solid var(--semi-tp-10);
	background: var(--semi-tp-05);
	border-radius: 10px;
	opacity: 0;
	transform: translateY(25px);
	transition: border 0.3s, background-color 0.3s;

	&:hover {
		background: var(--semi-tp-10);
	}
}

@keyframes revealProject {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.project__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.project__number {
	color: var(--txt-clr);
	font-weight: 300;
	align-self: flex-end;
	transition: color 0.3s;
}

.project__right-side {
	height: 100%;
	display: flex;
	column-gap: 25px;
}

.project__info-container {
	@include flex-between-end;
	flex-direction: column;
}

.project__title {
	font-size: clamp(1.25rem, 2vw, 2rem);
	color: var(--txt-clr);
	transition: color 0.3s;
}

.project__date {
	color: var(--txt-clr);
	font-weight: 300;
	transition: color 0.3s;
}

.project__img {
	height: 100px;
	border-radius: 5px;
}

@media (max-width: 800px) {
	.project {
		flex-direction: column-reverse;
		flex-shrink: 0;
		height: auto;
	}

	.project__number {
		align-self: flex-start;
	}

	.project__right-side {
		align-items: flex-start;
		flex-direction: column-reverse;
		row-gap: 10px;
	}

	.project__info-container {
		align-items: flex-start;
	}

	.project__img {
		height: auto;
		width: 100%;
	}
}
