@use "./../../mixins" as *;

.contact {
    position: fixed;
    @include top-right-bottom-left(100px, 100px, 100px, 100px);
    @include flex-between-end;
    flex-direction: column;
}

.contacts {
    @include flex-center-end;
    flex-direction: column;
}

.mail__link,
.tel__link {
    font-size: 1rem;
    color: var(--txt-clr);
    font-weight: 300;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.5;
    }
}

.socials {
    @include flex-center-end;
    flex-direction: column;
}

.socials a {
    color: var(--txt-clr);
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.5;
    }
}

@media (max-width: 1000px) {
    .contact {
        @include top-right-bottom-left(50px, 50px, 50px, 50px);
    }
}
