@use "./../../mixins" as *;

.skill-container {
	@include flex-center;
	width: 100%;
	aspect-ratio: 1/1;
	@include glass-effect;
	border: 1px solid var(--semi-tp-10);
	background: var(--semi-tp-05);
	border-radius: 10px;
	opacity: 0;
	scale: 0.5;
	transition: border 0.3s, background-color 0.3s;

	&:hover {
		background: var(--semi-tp-10);
	}
}

.skill {
	display: grid;
	place-items: center;
}

.skill i,
.text-icon {
	font-size: clamp(1.5em, 4vw, 2.5em);
	color: var(--txt-clr);
	transition: color 0.3s;
}

.img-icon {
	width: 35%;
}
