@use "./../../scss/mixins" as *;

.skill {
	@include flex-center;
	width: 100%;
	aspect-ratio: 1/1;
	@include glass-effect;
	border: 1px solid var(--semi-tp-10);
	border-radius: 10px;
	opacity: 0;
	scale: 0.5;
	transition: border 0.3s;

	&:hover {
		border: 1px solid var(--txt-clr);
	}

	img {
		width: 30%;
	}
}

@keyframes revealSkill {
	to {
		opacity: 1;
		scale: 1;
	}
}
