@use "./../../mixins" as *;

.project {
    position: relative;
    height: 110px;
    @include flex-between;
    flex-shrink: 0;
    background: var(--semi-tp-05);
    padding: 0 5px;
    transition: background-color 0.3s;

    &:hover {
        background: var(--semi-tp-10);
    }
}

.project__number {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--txt-clr);
    padding-left: 20px;
    transition: all 0.3s;
}

.right-side {
    @include flex-center;
    column-gap: 25px;

    div {
        height: 100%;
        @include flex-evenly-end;
        flex-direction: column;
        row-gap: 5px;
    }
}

.project__video {
    height: 100px;
}

.project__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.project__title {
    font-size: clamp(1.5rem, 6vw, 2rem);
    color: var(--txt-clr);
    transition: all 0.3s;
}

.project__production {
    color: var(--semi-tp-50);
    font-size: clamp(12px, 2vw, 14px);
    transition: all 300ms;
}

@media (max-width: 800px) {
    .project {
        position: relative;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .project__number {
        padding: 25px 0 0 20px;
    }

    .right-side {
        @include flex-center-start;
        flex-direction: column-reverse;
        column-gap: 25px;
        width: 100%;
        height: 70%;

        div {
            @include flex-end-start;
            padding: 0 0 25px 20px;
        }

        video {
            height: auto;
            width: 100%;
        }
    }
}
