.about {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    left: 100px;
    text-align: center;
    color: var(--txt-clr);
    transition: color 0.3s;
}

@media (max-width: 1000px) {
    .about {
        right: 50px;
        left: 50px;
    }
}