@use "./../../scss/mixins" as *;

.portfolio {
	position: fixed;
	@include top-right-bottom-left(0, 100px, 0, 100px);
	display: flex;
	flex-direction: column;
	padding: 100px 0;
	overflow-y: scroll;
}

.portfolio__link {
	flex-direction: row-reverse;
	font-size: clamp(1.25rem, 2vw, 2rem);
	color: var(--txt-clr);
	transition: all 0.3s;
}

@keyframes revealProject {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 1000px) {
	.portfolio {
		padding: 50px 0;
		@include top-right-bottom-left(0, 50px, 0, 50px);
		scroll-snap-type: y mandatory;
	}
}

@media (max-width: 800px) {
	.portfolio {
		padding: 35px 0;
		@include top-right-bottom-left(0, 35px, 0, 35px);
	}
}
