@use "./../../scss/mixins" as *;

.project-page {
	position: fixed;
	@include top-right-bottom-left(0, 100px, 0, 100px);
	// @include flex-end-center;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 100px 0;
	overflow-y: auto;
	opacity: 0;
	animation: revealProjectPage 1s forwards;
}

@keyframes revealProjectPage {
	to {
		opacity: 1;
	}
}

.project-page__back-btn {
	display: inline-block;
	color: var(--txt-clr);
	transition: all 300ms;

	&:hover {
		opacity: 0.5;
	}
}

.project-page__link-container {
	display: flex;
	@include flex-end-center;
	column-gap: 10px;

	a {
		color: var(--txt-clr);
		transition: all 300ms;

		&:hover {
			opacity: 0.5;
		}
	}
}

.project-page__title-desc {
	color: var(--semi-tp-50);
	transition: color 0.3s;
}

.project-page__title {
	color: var(--txt-clr);
	font-size: clamp(2rem, 4vw, 3rem);
	transition: color 0.3s;
}

.project-page__desc-title {
	color: var(--semi-tp-50);
	transition: color 0.3s;
}

.project-page__desc {
	text-align: justify;
}

.project-page__video,
.project-page__img {
	width: 100%;
}

@media (max-width: 1000px) {
	.project-page {
		padding: 50px 0;
		@include top-right-bottom-left(0, 50px, 0, 50px);
		row-gap: 25px;
	}
}

@media (max-width: 800px) {
	.project-page {
		@include top-right-bottom-left(0, 35px, 0, 35px);
	}
}
